.login-div,
.otp-div {
  padding: 15px;
}

.login-div img {
  height: 70px;
  margin: 0 auto;
  display: block;
  margin-top: 100px;
}

.alerts-check {
  margin-top: 15px;
}

.alerts-check label {
  color: #727272;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
}

.agree-terms {
  color: #000;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  position: absolute;
  bottom: 70px;
  left: 15px;
  right: 15px;
}

.agree-terms span {
  color: #0f9bfb;
}

.get-started-btn:disabled {
  background-color: #e7e7e7 !important;
  border-color: #e7e7e7 !important;
  color: #716d6d !important;
}

.get-started-btn {
  position: fixed;
  bottom: 15px;
  right: 15px;
  left: 15px;
  height: 45px;
}

.otp-heading {
  color: #000;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}

.otp-div .opt-input-div input {
  width: 40px !important;
  margin-right: 5px;
  height: 50px;
  margin: 7px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid #000;
  margin: 7px !important;
}

.otp-div input[type="number"]::-webkit-inner-spin-button,
.otp-div input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.otp-div .otp-sent-number {
  color: #727272;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}

.otp-div .waiting-otp {
  color: #727272;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}

.otp-div .waiting-otp span {
  color: #000;
  font-weight: 600;
}

.otp-div .resend-otp {
  color: #0f9bfb;
  text-align: center;
  font-size: 17px;
  font-weight: 700;
  position: absolute;
  bottom: 80px;
  left: 0px;
  right: 0px;
  cursor: pointer;
}
