.create-group .cg-img {
  height: 200px;
  margin: 0 auto;
  display: block;
  margin-top: 25px;
}

.no-group-text {
  color: #000;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  margin-top: 10px;
}

.click-button-text {
  color: #b5b5b7;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
}
