.page-title-div {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-top: 7px;
  padding-bottom: 22px;
}

.page-title-div .back-arrow img {
  height: 20px;
  margin-top: 0px;
}

.page-title-div .page-title {
  color: #000;
  font-size: 14px;
  font-weight: 600;
}

.page-title-div .sub-text {
  color: #b3b1b1;
  text-align: center;
  font-size: 11px;
}

.header-title {
  background: #d9d9d9;
  height: 30px;
  position: absolute;
  width: 100%;
  left: 0px;
  padding: 5px 10px;
}
