.war-room-heading {
  display: flex;
  align-items: center;
}

.war-room-heading img {
  width: 22px;
  height: 22px;
}

.war-room-heading h2 {
  margin-bottom: 0px;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  padding-top: 15px;
}

.news-table {
  text-align: center;
}

.news-table p {
  margin-bottom: 0px;
  font-size: 10px;
  font-weight: 500;
}

.news-table h3 {
  font-size: 14px;
  font-weight: var(--font-weight-600);
  margin-bottom: 0px;
}

.partywise-news-count {
  margin-bottom: 25px !important;
}

.partywise-news-count th {
  font-size: 12px;
  font-weight: 500;
}

.partywise-news-count td {
  font-size: 13px;
}

.partywise-news-count th:nth-child(1) {
  color: var(--main-color);
}

.partywise-news-count th:nth-child(2) {
  color: #438b0a;
}

.partywise-news-count th:nth-child(3) {
  color: #b50a14;
}

.news-heading {
  color: var(--main-color);
  font-size: 16px;
  font-style: normal;
  font-weight: var(--font-weight-600);
  margin-bottom: 15px;
}

.news-div {
  margin-bottom: 20px;
}

.news-div img {
  margin-right: 10px;
  object-fit: cover;
  height: 100%;
  width: 75px;
}

.news-div h3 {
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
}

.news-div p {
  color: #000;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 0px;
}

.news-div span {
  color: var(--main-color);
  font-size: 10px;
  font-weight: 700;
}

.chat-icon-div {
  background: var(--main-color);
  height: 65px;
  width: 65px;
  border-radius: 50%;
  line-height: 65px;
  text-align: center;
  position: fixed;
  bottom: 30px;
  right: 15px;
}

.chat-icon-div img {
  height: 35px;
}
